<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/package/">显示包目录</a>
    <a href="/updatecode">svn更新代码</a>
    <a href="/bundlejs">bundlejs打包(ios|android)</a>
    <a href="#"></a>
    <div><%= res %></div>
    <!--
    <h1><%= res %></h1>
    <p>Welcome to <%= title %></p>
    -->
  </body>
</html>
